@page
@model Client_MilkForKidsStore.Pages.ProductPage.ProductDetailModel
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var failMessage = TempData["ErrorMessage"] as string;
}
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.User;
    var role = user.FindFirst("RoleId")?.Value;
    var isAuthenticated = user.Identity.IsAuthenticated;
}

@if(!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
} 
@if(!string.IsNullOrEmpty(failMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @failMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container py-5 bg-light">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="image-container">
                <img id="mainProductImage" class="img-fluid" src="~/img/default_milk.jpg" alt="Product Image">
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="text-uppercase mb-4">@Model.Product?.ProductName</h3>
            <h5 class="text-primary mb-4" id="price">@Model.Product?.ProductPrice VND</h5>
            <p class="mb-4">
                @Model.Product?.ProductInfor
            </p>
            <div class="d-flex mb-4">
                <strong class="text-uppercase me-2">Categories:</strong>
                <span>@Model.Product?.category?.ProductCategoryName</span>
            </div>
            <form method="post">
            <div class="d-flex align-items-center mb-4">
                <strong class="text-uppercase me-2">Quantity:</strong>
                <div class="input-group quantity mx-1" style="width: 130px;">
                    <div class="input-group-btn">
                        <button id="btnMinus" class="btn btn-primary btn-minus">
                            <i class="bi bi-dash"></i>
                        </button>
                    </div>
                    <input id="quantity" name="Quantity" class="form-control bg-light border-0 text-center" value="1">
                    <div class="input-group-btn">
                        <button id="btnPlus" class="btn btn-primary btn-plus">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="ProductId" value="@Model.Product?.ProductId">
                @if(isAuthenticated)
                {
                    <button class="btn btn-primary text-uppercase px-5 mb-4" type="submit">Add To Cart</button>
                }
                else
                {
                    <a class="btn btn-primary text-uppercase px-5 mb-4" asp-area="" asp-page="/AuthenticatePage/Login">Add To Cart</a>
                }

            </form>
        </div>

        <!-- Comment List Start -->
        <div class="mb-5">
            <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Comments</h3>
            @if (Model.Feedback.Any())
            {
                @foreach (var item in Model.Feedback)
                {
                    <div class="d-flex mb-4">
                        <img src="~/img/user.jpg" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">@item.Customer.UserName</a><small><i></i></small></h6>
                            <p>
                                @item.FeedbackContent
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No feedback available.</p>
            }
        </div>
        <!-- Comment List End -->
        <!-- Comment Form Start -->
        <div class="p-5">
            <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Add Feedback</h3>
            <form method="post" asp-page-handler="PostFeedback" asp-route-id="@Model.Product?.ProductId">
                <div class="row g-3">
                    <div class="col-12">
                        <textarea class="form-control" id="FeedbackContent" name="FeedbackContent" rows="5" placeholder="Comment" required></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Add Feedback</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Comment Form End -->
    </div>
</div>

@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const btnMinus = document.querySelector('#btnMinus');
            const btnPlus = document.querySelector('#btnPlus');
            const quantityInput = document.querySelector('#quantity');
            const price = document.querySelector('#price');

            let currentQuantity = parseInt(quantityInput.value);

            btnMinus.addEventListener('click', function (event) {
                event.preventDefault();
                if (currentQuantity > 1) {
                    currentQuantity--;
                    quantityInput.value = currentQuantity;
                }
            });

            btnPlus.addEventListener('click', function (event) {
                event.preventDefault();
                currentQuantity++;
                quantityInput.value = currentQuantity;
            });

        });
    </script>
}
