@page
@model Client_MilkForKidsStore.Pages.BlogPage.BlogDetailModel
@{
}
<!-- Blog Start -->
<div class="container py-5 bg-light">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="image-container">
                @if (@Model.Blog.BlogImage != null && @Model.Blog.BlogImage.Any())
                                {
                    <img class="img-fluid w-100 rounded mb-5" src="@Model.Blog.BlogImage" alt="Blog Image">
                }
                else
                {
                    <img class="img-fluid mb-4" src="~/img/default_milk.jpg" alt="Default Blog Image">
                }
                
                <ul>
                    @foreach (var product in Model.Blog.BlogProducts)
                    {
                        <li>
                            <a class="text-primary text-uppercase" asp-page="/ProductPage/ProductDetail" asp-route-productId="@product.ProductId">@product.ProductName</a>
                            - @product.ProductPrice.ToString("C")
                        </li>
                    }
                </ul>
            </div>
        </div>
            <!-- Blog Detail End -->         
        <!-- Sidebar Start -->
        <div class="col-lg-6">
                <h1 class="text-uppercase mb-4">@Model.Blog.BlogTitle</h1>
                <p>
                    @Model.Blog.BlogContent
                </p>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->